* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background: #f2f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background: #ffffff;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column;
    gap: 15px;
}


h1, h2 {
    text-align: center;
    color: #1f2a44;
}

input, select {
    padding: 10px;
    border: 1px solid #ccd1db;
    border-radius: 5px;
    font-size: 14px;
}

button {
    padding: 10px;
    background: #1f5cff;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #1746c7;
}

a {
    text-align: center;
    color: #1f5cff;
    text-decoration: none;
    font-size: 14px;
}


p {
    text-align: center;
    font-size: 14px;
    color: #555;
}

table {
    width: 100%;
    max-width: 700px;
    background: #ffffff;
    border-collapse: collapse;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background: #f0f3f8;
}

